{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="mb-4">{{ title }}</legend>

			<div class="form-group">
				{% if form.password.errors %}
					{{ form.password(class="form-control form-control-lg is-invalid", **{"placeholder": form.password.label.text, "aria-label": form.password.label.text}) }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control form-control-lg", **{"placeholder": form.password.label.text, "aria-label": form.password.label.text}) }}
				{% endif %}
			</div>
			
			<div class="form-group mt-4">
				{% if form.confirm_password.errors %}
					{{ form.confirm_password(class="form-control form-control-lg is-invalid", **{"placeholder": form.confirm_password.label.text, "aria-label": form.confirm_password.label.text}) }}
					<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(class="form-control-lg form-control", **{"placeholder": form.confirm_password.label.text, "aria-label": form.confirm_password.label.text}) }}
				{% endif %}
      </div>
		</fieldset>
			
		<div class="form-group">
			{{ form.submit(class="btn btn-lg btn-primary btn-block") }}
		</div>
	</form>
</div>

{% endblock %}
